html,
.root {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  font: menu;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}
.bc4E[open] .ds4E ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bc4E .ds4E::-webkit-details-marker {
  display: none;
}

.bc4E .ds4E {
  content:"+";
  width: 100%;
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  list-style: none;
}

.bc4E .ds4E:after {
  content: "+";
  color: var(--green);
  position: absolute;
  font-size: 2rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  transform-origin: center;

}
.bc4E[open] .ds4E:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
.bc4E .ds4E {
  outline: 0;
}
.bc4E p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}
