@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: rgba(2, 228, 148, 0.16);
  --green: #02e494;
  --darker-green: #13cf8f;
  --black: #1b2430;
  --grey: #f5f5f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: calc(10px + 2vmin);
}
.text-green {
  color: var(--green);
}
.carousel .slide img {
  width: 50%;
}
.slide {
  width: 100vh;
}
.carousel .control-dots .dot {
  background: var(--green);
}
.bg10E {
  background-color: var(--light-green);
}
.bg-button-white-E10 {
  background-color: var(--grey);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--green);
  border: var(--green) solid 1px;
}
.bg-button-green-E10 {
  background-color: var(--green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--grey);
}
.grid5A {
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;
}
.div1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.div2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.div3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.div4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.arrow1 {
  width: 65%;
  padding-left: 28%;
  padding-top: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.arrow2 {
  width: 65%;
  padding-left: 28%;
  padding-bottom: 1%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.arrow3 {
  width: 65%;
  padding-left: 28%;
  padding-top: 5%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.module5E-green {
  color: var(--green);
}
.bg4E {
  background-color: var(--light-green);
}
.tc4E {
  color: var(--green);
}
.tc4e2 {
  color: var(--black);
}
@media (max-width: 768px) {
  .tc4E {
    color: var(--black);
  }
  .tc4e2 {
    color: var(--green);
  }
}
.bg4e-button {
  color: var(--green);
  background-color: var(--grey);
}
.bc4E {
  border-color: var(--green);
}

#language {
  border-color: var(--green);
  color: var(--green);
}
.buttonNav {
  background-color: var(--green);
}
.navTextGreen {
  color: var(--green);
}

/* For carousel component, module 2E */

.logo-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel {
  width: 100%;
  margin-bottom: 2%;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  flex-direction: column;
}

.carousel-item img {
  object-fit: contain;
}

.carousel-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel-item-container2 {
  display: flex;
  flex-direction: row;
}

.inner-carousel1 {
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 10%;
  max-width: 10%;
  max-height: 10%;
  min-height: 10%;
  aspect-ratio: 1;
}

.inner-carousel1:hover {
  cursor: grab;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.inner-carousel2 {
  flex-direction: row;
  margin: 2%;
  min-width: 15%;
  max-width: 15%;
  max-height: 15%;
  min-height: 15%;
  aspect-ratio: 1/1;
}

.inner-carousel2:hover {
  cursor: grab;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .inner-carousel2 {
    flex-direction: row;
    margin: 4%;
    min-width: 20%;
    max-width: 20%;
    max-height: 20%;
    min-height: 20%;
    aspect-ratio: 1/1;
  }
  .inner-carousel1 {
    flex-direction: row;
    margin: 4%;
    min-width: 20%;
    max-width: 20%;
    max-height: 20%;
    min-height: 20%;
    aspect-ratio: 1/1;
  }
  .carousel {
    width: 100%;
    height: 140%;
    overflow: hidden;
    margin-bottom: 10%;
  }
}

/* For carousel component, module 2E */

#carousel-img-E7 {
  max-width: 45%;
  aspect-ratio: 16/9;
}
#carousel-logo-E7 {
  max-width: 33%;
  align-self: flex-start;
}

@media (max-width: 769px) {
  #carousel-logo-E7 {
    max-width: 25%;
    width: 25%;
    height: 15%;
  }

  #carousel-img-E7 {
    max-width: 55%;
    max-height: 55%;
    aspect-ratio: 9/16;
  }
}

/*circles around logo in 6E*/
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*logo in 6E*/
.logo {
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
}

/*logo in 1S*/
.logo2 {
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
}

.ar-1 {
  aspect-ratio: 1;
}

/* For burger menu*/

#menu {
  z-index: 2;
}

#menu-bar {
  z-index: 2;
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--green);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
  color: white;
}

#bar3 {
  transform: translateY(4px);
  color: white;
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
  color: white;
}

.nav li {
  z-index: 2;
  list-style: none;
  padding: 12px 0;
  color: white;
}

.nav li a {
  z-index: 2;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: auto;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.menu-bg {
  z-index: -1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, var(--green), var(--green));
  background-attachment: local;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.change {
  display: block;
}

.change .bar {
  z-index: 2;
  background-color: white;
  color: white;
}

.change #bar1 {
  z-index: 2;
  transform: translateY(4px) rotateZ(-45deg);
  background-color: white;
  color: white;
}

.change #bar2 {
  z-index: 2;
  background-color: white;
  color: white;
}

.change #bar3 {
  z-index: 2;
  transform: translateY(-6px) rotateZ(45deg);
  background-color: white;
  color: white;
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

/* For burger menu*/

#trytorotate {
  transform: rotateY(180deg);
  transition: 0.3s ease;
}

.quote {
  position: relative;
  top: -3rem;
}

.imgProject {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.imgProjectSize {
  object-fit: contain;
  max-width: 15%;
  max-height: 20%;
}

.active {
  color: var(--green);
}

.hat {
  position: relative;
  top: -4.5vw;
  left: 17vw;
  background-color: #00d9ff;
  object-fit: contain;
}
